.nav {
  grid-area: n;
  background-color: rgb(238, 226, 55);
  padding: 15px;
}

a {
  text-decoration: none;
  color: black;
  transition: .5s;
}



.item {
  text-decoration: none;
  color: black;
  transition: .5s;
  font-weight:normal
}
.item a:hover {
  text-decoration: underline;
  color: red;
  background-color: #fff;
}

.active {
  color: rgb(223, 70, 23);
  font-weight: bold;
}