
.item {
  color: rgb(13, 14, 13);
  cursor: pointer;
  transition: .5s;
  border: 1px solid white;
  padding: 5px;
  border-radius: 19px;
}
.item:hover {
  background-color: #fff;
}

.item img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}