.dialogs {
  display: grid;
  grid-template-columns: 3fr 9fr;
  font-size: 24px;
  
}

.dialogs_items {
  color: blueviolet;
}

.item {

}

.item:hover {
  background-color: rgb(224, 129, 129);
}

.dialogs_messages {
  font-size: 20px;
  color: rgb(19, 50, 226);
}
.message{
  

}
.active{
 color: white;
}

.img_avatar{
  width:50px;
  height: 50px;
  border-radius:50%;
}
.spanError{
  color:red;
  font-size: 14px;
  font-weight: bold;
}
.textareaError{
border: 2px solid red;
box-shadow: 0px 0px 49px 1px #e00b0b;
}